html {
    scroll-behavior: smooth;
}

body {
    background: black;
    font-family: "Baloo Tamma 2", cursive;
}

/* Navigation Bar */

.navigation-link {
    border: 2px slid transparent;
    border-radius: 2px;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid yellow;
    transition: 0.5s ease;
}

/* Banner Main Heading */

.m-heading {
    font-weight: 650;
}

/* Main Container */

.main-container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 5px;
}

.main_row h1 {

    font-size: 5rem;

}


.main_row img {

    width: auto;

    height: 100vh;

}

.about {
    background: #313552;
    border-radius: 0.5rem;
}

.card {
    border-bottom: 8px solid #f5ba09;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: url(Backgrounddd.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Background\(2\).jpg);
    background-attachment: fixed;
    background-size: cover;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Background\(3\).jpg);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 7px;
}

#Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Background\(4\).jpg);
    background-attachment: fixed;
    background-size: cover;
    border-radius: 7px;
}